---
published: true
---

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="4Primes"/>
        <title>4Primes Blog</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/assets/ico/favicon.ico" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png" />
        <link rel="stylesheet" href="/assets/s/fonts.css" />
        <link rel="stylesheet" href="/assets/s/normalize.css" />
        <link rel="stylesheet" href="/assets/s/bootsrap.layout.min.css" />
        <link rel="stylesheet" href="/assets/s/main.css" />
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <header>
            <div class="bar"></div>
            <div class="container">
                <div class="row-fluid">
                    <div class="span9 relative">
                        <h1 id="logo"><a href="http://www.4primes.com">4Primes Blog</a></h1>
                        <nav>
                          <a href="/index.html">Ana Sayfa</a>
                          <a href="/about.html">Hakkımızda</a>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <section class="container">
            <div class="row-fluid">
                <div class="span9">
                    <ul class="posts">
                       {% for post in paginator.posts %}
                       <li>
                            <div class="row-fluid">
                                <div class="span2"><div class="cirDate">{{ post.date | date: "%d" }}<span>{{ post.date | date: "%b" }} '{{ post.date | date: "%y" }}</span></div></div>
                                <div class="span10">
                                    <h2><a href="{{ post.url }}">{{ post.title | escape }}</a></h2>
                                    <p class="author"><span>Posted by</span> {{ post.author }} <span>|</span> <a href="{{ post.url }}#disqus_thread"></a></p>
                                    <div class="section">
                                        {{ post.content | truncatewords: 53 }}
                                    </div>
                                    <a class="more" href="{{ post.url }}">Tamamını Oku</a> 
                                </div>
                            </div>
                        </li>
                       {% endfor %}
                    </ul>
                </div>
                <div class="span3">
                    <div class="rightWidgets">
                        <h4>Son yazılar</h4>
                        <ul class="populerPosts">
                            {% for post in site.posts limit:2 %}
                            <li>
                                <div class="date">{{ post.date | date: "%d" }} <span>{{ post.date | date: "%b" }} '{{ post.date | date: "%y" }}</span></div>
                                <a href="{{ post.url }}">{{ post.title | escape }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="clear"><!--ie--></div>
                        <ul class="social">
                            <li><a href="http://facebook.com/4primes" class="facebook">Facebook</a></li>
                            <li><a href="http://twitter.com/4primes" class="twitter">Twitter</a></li>
                        </ul>
                        <div class="clear"><!--ie--></div>
                    </div>
                </div>                
            </div>
            <a id="scrollUp" href="#">Scroll Top</a>
        </section>

        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="assets/js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="assets/js/modernizr-2.6.2.min.js"></script>
        <script src="assets/js/jquery.scrollUp.min.js"></script>
        <script src="assets/js/main.js"></script>
        <!-- Google Analytics -->
        <script>var _gaq=[['_setAccount','UA-24763771-1'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>
        <!-- Google Analytics son -->

        <script type="text/javascript">
            var disqus_shortname = '4primesblog';

            (function () {
                var s = document.createElement('script'); s.async = true;
                s.type = 'text/javascript';
                s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
                (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            }());
        </script>
    </body>
</html>